<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="giftcard_debug" xsi:type="File" fileName="logs/giftcards_debug.txt" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="colanta_backend.App.GiftCards.*" minlevel="Debug" writeTo="giftcard_debug" />
	</rules>
</nlog>