<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="giftcard_debug" xsi:type="File" fileName="logs/giftcards_debug.txt" />
		<target name="cupo_lacteo_debug" xsi:type="File" fileName="logs/cupo_lacteo_debug.txt" />
		<target name="orders_debug" xsi:type="File" fileName="logs/orders_debug.txt" />
		<target name="taxes_debug" xsi:type="File" fileName="logs/taxes_debug.txt" />
		<target name="order_observations_error" xsi:type="File" fileName="logs/order_observations_error.txt" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="colanta_backend.App.GiftCards.*" minlevel="Debug" writeTo="giftcard_debug" />
		<logger name="colanta_backend.App.Credits.*" minlevel="Debug" writeTo="cupo_lacteo_debug" />
		<logger name="colanta_backend.App.Orders.*" minlevel="Debug" writeTo="orders_debug" />
		<logger name="colanta_backend.App.Taxes.*" minlevel="Debug" writeTo="taxes_debug" />
		<logger name="colanta_backend.App.OrderObservations.*" minlevel="Error" writeTo="order_observations_errors" />
	</rules>
</nlog>